<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <span><img src="assets/icons/logo-new.svg" alt="logo"/> </span>
        </a>
        <button class="navbar-toggler mt-sm-2" (click)="isOpen = !isOpen" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{show: isOpen, 'mobile-show': isOpen}"
          id="navbarSupportedContent">
          <div class="row mobile-controls" *ngIf="isOpen">
            <span class="fa fa-times" (click)="isOpen = false">
              <img src="assets/icons/close_icon.svg" style="width: 40px; height: auto;" />
            </span>
            <div>
            <img src="assets/icons/logo-new.svg" alt="logo"/>
          </div>
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <div class="alarm-container">
                <span >3</span>
                <img src="assets/icons/alarm.svg" alt="avatar"/>
              </div>
            </li>
            <li class="nav-item">
              <img src="assets/icons/avatar-svgrepo-com.svg " alt="logo"/>
          </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
