@import "../../../assets/styles/index.scss";

// Mixins
@mixin task-header {
  padding: 0;
  margin: 0;
}

@mixin row-line($color) {
  width: 2px;
  height:77px;
  margin: 0 10px 0 0;
  position: absolute;
  background-color: $color;
}

// Styles
.status-running {
  background-color: #e5f4ff;
}

.status-finished {
  background-color: #f6fff6;
}

.task__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  & .sub-header {
    color: $color-muted-text;
    font-size: $font-sm-size;
    @include task-header;
  }

  & .item-header {
    font-size: $font-md-size;
    @include task-header;
  }
}

.row {
  border-top: 1px solid $color-dark-gray;
  border-bottom: 1px solid $color-dark-gray;
  border-right: 1px solid $color-dark-gray;
}

.vertical-line {
  width: 1px;
  height: 44px;
  background-color: $color-dark-gray;
  margin-left: auto;
}

.item__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.status-running .row-line {
  @include row-line($color-tertiary);
}

.status-finished .row-line {
  @include row-line($color-secondary);
}

.status-queued .row-line,
.status-new .row-line {
  @include row-line($color-primary);
}

.status-running .status {
  color: $color-tertiary;
}

.status-finished .status {
  color: $color-secondary;
}

.status-queued .status {
  color: $color-dark-gray;
}

.status-new,
.status-queued {
  background-color: #fbfbfb;
}

.status-new .status {
  color: #000000;
}

.item__list {
  display: flex;
  align-items: center;

  & .operation,
  & .criteria {
    font-size: $font-sm-size;
    @include task-header;
  }
}
.task__item {
  .operations, .criteras {
    align-self: baseline;
    margin-top: 5px;
  }
}
.item__box {
  width: 12px;
  height: 12px;
  background-color: $color-gray;
  margin-right: 5px;
}

.progress-holder {
  height: 12.5px;
  background-color: transparent;
  width: 55px;
  border: 1px solid;
}

.progress-filler {
  height: 100%;
  background-color: $color-secondary;
}

.progress-text {
  text-align: center;
  width: 20%;
}

.tsk-progress {
  font-size: 10px;
  position: relative;
  bottom: 19px;
  right: 2px;
  left: 24px;
}

.Rectangle-25 {
  width: 75px;
  height: 21px;
  margin: 8px 15.8px 3.5px 0;
  padding: 5px 12px 5px 10px;
  border-radius: 10.5px;
  background-color: #b4b4b4;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

// media queries
@media (max-width: $breakpoint-small) {
  .task__item {
    margin-top: 15px;
    border-bottom: 1px solid $color-dark-gray;
  }
.content{
  border-left: 1px solid $color-dark-gray;
}
  .row-line,
  .vertical-line {
    display: none;
  }
  .task__item{
    align-items: center !important;
    justify-content: flex-start !important;
}
.item-paragraphs {
  margin-left:0 !important
}
}
