.content {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #7d7d7d;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  z-index: 2;
}
