@import "../../../assets/styles/index.scss";

// mixins
@mixin header-item($width, $height) {
  width: $width;
  height: $height;
  font-weight: bold;
  padding: 0 10px;
  color: #fff;
  background-color: $color-gray;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.16);
  cursor: pointer;
  a {
    text-decoration: none;
    color: #fff;
  }
  @include font-size
}

.header {
  display: flex;
  list-style-type: none;
  position: relative;
  top: 17px;
  right: 32px;

  .header-item {
    @include header-item(15.5rem, 2.25rem);
  }

  li:last-of-type {
    border-right: 72px solid transparent;
    border-bottom: 36px solid $color-gray;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    a {
      margin-top: 6px;
    }
  }

  .active {
    background-color: $color-primary;
  }
}

.outlet {
  min-height: 80vh;
  border: 1px solid $color-dark-gray;
}
.plus-icon {
  background-color: $color-primary;
  color: white;
  width: 33px;
  height: 33px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 118px;
  right: 33px;
  border: 1px solid $color-dark-gray;
}


// media queries
@media (max-width: $breakpoint-medium){
  .header li:last-of-type{
    width: 22rem;
  }
  .plus-icon{
    display: none;
  }
}
@media (max-width: $breakpoint-small){
  .header li:last-of-type{
    width: 22rem;
  }
  .plus-icon{
    display: none;
  }
}
