// Define breakpoint variables
$breakpoint-x-small: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

// Define size variables
$font-xs-size: 8px;
$font-sm-size: 12px;
$font-md-size: 16px;

// Define colors variables
$color-primary: #00afd8;
$color-secondary: #12bb12;
$color-tertiary: #0090ff;
$color-dark-gray: #707070;
$color-muted-text:#aaaaaa;
$color-gray: #cbcbcb;

$color-red:#e60000;
$color-muted-red:#f57277;
